.hexagon6th:nth-of-type(n + 3) {
  margin-top: 15px;
}

@media (min-width: 640px) {
  .hexagon6th:nth-of-type(n + 3) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(n + 5) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(7n + 5) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(n + 7) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(11n + 7) {
    margin: 0px;
  }

  .hexagon6th:nth-of-type(n + 4) {
    margin-top: -30px;
  }
  .hexagon6th:nth-of-type(5n + 4) {
    margin-left: 101px;
  }
}
@media (min-width: 768px) {
  .hexagon6th:nth-of-type(n + 3) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(n + 4) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(5n + 4) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(n + 7) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(11n + 7) {
    margin: 0px;
  }

  .hexagon6th:nth-of-type(n + 5) {
    margin-top: -26px;
  }
  .hexagon6th:nth-of-type(7n + 5) {
    margin-left: 91.7px;
  }
}
@media (min-width: 1024px) {
  .hexagon6th:nth-of-type(n + 3) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(n + 4) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(5n + 4) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(n + 5) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(7n + 5) {
    margin: 0px;
  }

  .hexagon6th:nth-of-type(n + 7) {
    margin-top: -22px;
  }
  .hexagon6th:nth-of-type(11n + 7) {
    margin-left: 83px;
  }
}
@media (min-width: 1140px) {
  .hexagon6th:nth-of-type(n + 3) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(n + 4) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(5n + 4) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(n + 5) {
    margin: 0px;
  }
  .hexagon6th:nth-of-type(7n + 5) {
    margin: 0px;
  }

  .hexagon6th:nth-of-type(n + 7) {
    margin-top: -24px;
  }
  .hexagon6th:nth-of-type(11n + 7) {
    margin-left: 92px;
  }
}

.hexagon5th:nth-of-type(n + 4) {
  margin-top: 12px;
}

@media (min-width: 640px) {
  .hexagon5th:nth-of-type(n + 4) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(n + 7) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(11n + 7) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(n + 7) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(17n + 10) {
    margin: 0px;
  }

  .hexagon5th:nth-of-type(n + 6) {
    margin-top: -16px;
  }
  .hexagon5th:nth-of-type(9n + 6) {
    margin-left: 60.5px;
  }
}
@media (min-width: 768px) {
  .hexagon5th:nth-of-type(n + 4) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(n + 6) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(9n + 6) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(n + 7) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(17n + 10) {
    margin: 0px;
  }

  .hexagon5th:nth-of-type(n + 7) {
    margin-top: -16px;
  }
  .hexagon5th:nth-of-type(11n + 7) {
    margin-left: 61px;
  }
}
@media (min-width: 1024px) {
  .hexagon5th:nth-of-type(n + 4) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(n + 6) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(9n + 6) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(n + 7) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(11n + 7) {
    margin: 0px;
  }

  .hexagon5th:nth-of-type(n + 7) {
    margin-top: -14px;
  }
  .hexagon5th:nth-of-type(17n + 10) {
    margin-left: 55px;
  }
}
@media (min-width: 1140px) {
  .hexagon5th:nth-of-type(n + 4) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(n + 6) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(9n + 6) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(n + 7) {
    margin: 0px;
  }
  .hexagon5th:nth-of-type(11n + 7) {
    margin: 0px;
  }

  .hexagon5th:nth-of-type(n + 10) {
    margin-top: -17px;
  }
  .hexagon5th:nth-of-type(17n + 10) {
    margin-left: 61.4px;
  }
}
