@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.shakeAnime:hover {
  animation-name: shake;
  animation-duration: 0.6s;
}

footer ul > li + li:before {
  content: "";
  display: block;
  width: 2px;
  height: 11px;
  background: #c7c7c7;
  margin: 0 4px;
}

footer ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
}
